.header {
  text-align: center;
}

/*.popup {
  display: flex;
  flex-direction: column;
}*/

.pop-up-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pop-up-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.box-5,
.box-6,
.box-7,
.box-8 {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.text p {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 600px) {
  .popup {
    display: flex;
    flex-direction: column;
  }
}
